.management-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;

  .management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 16px;
      font-weight: 700;
      background: linear-gradient(150deg, #000000 0%, #4e4e4e 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      transition: all 0.25s ease;

      @media (min-width: 768px) {
        font-size: 18px;
      }

      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }

    .management-date {
      display: flex;
      gap: 5px;
      font-size: 12px;
      color: #666;

      @media (min-width: 768px) {
        font-size: 13px;
      }

      @media (min-width: 1024px) {
        font-size: 14px;
      }
    }

    .clock-icon {
      width: 18px;
    }
  }

  .management-container {
    p {
      margin-bottom: 20px;
      letter-spacing: -1px;
      font-size: 14px;
      font-weight: bold;
      color: #333;

      @media (min-width: 767px) {
        margin-bottom: 25px;
        font-size: 16px;
      }

      @media (min-width: 1023px) {
        margin-bottom: 30px;
        font-size: 17px;
      }
    }
  }
}

.mg-bottom-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;

  @media (max-width: 767px) {
    margin-top: 40px;
  }

  @media (max-width: 1023px) {
    margin-top: 50px;
  }

  .button-with-tooltip {
    position: relative;
    display: inline-block;

    .edit-text {
      position: absolute;
      bottom: 100%;
      transform: translateX(0%) translateY(-10px);
      font-size: 13px;
      opacity: 0;
      transition: opacity 0.2s ease;
      pointer-events: none;
      white-space: nowrap;
      letter-spacing: -1px;

      @media (min-width: 768px) {
        font-size: 14px;
      }

      // 데스크탑 (1024px 이상)
      @media (min-width: 1024px) {
        font-size: 14px;
      }
    }

    &:hover .edit-text {
      opacity: 1;
    }
  }
}
